BasedOnStyle: Google
ColumnLimit: 200
AllowAllConstructorInitializersOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^(<catch2/|<benchmark/)'
    Priority:        1
  - Regex:           '^(<apm/|")'
    Priority:        2
  - Regex:           '<[[:alnum:]_]+>'
    Priority:        4
  - Regex:           '.*'
    Priority:        3
